<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="../js/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <p>身高：<input v-model="height" /></p>
      <p>體重：<input v-model="weight" /></p>
      <p>BMI:<span>{{calculate}}</span></p>
    </div>

    <script>
      Vue.createApp({
        data() {
          return {
            height: 0,
            weight: 0,
            calculate: this.weight / (this.height / 100),
          };
        },
        methods: {
          //函數大部分放這裡
        },
        computed: {
          //函數也可以放這裡 但不能傳參數 要有回傳值
          calculate() {
            if (this.weight > 0 && this.height > 0) {
              let BMI = this.weight / Math.pow(this.height / 100, 2);
              return BMI.toFixed(2);
            } else {
              return 0;
            }
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
